<main>
    <h1>Hello @{{user?.name}}</h1>

    <form [formGroup]="formPost">
        <textarea name="" id="" cols="30" rows="5" placeholder="Tell your super funny adventures here..."
            formControlName="content"></textarea>
        <button (click)="sendPost()">Publish</button>
    </form>

    <section>
        <article *ngFor="let p of posts" class="post">
            <b>{{p.userName}} </b> <i>{{p.posted | date:'dd-MM-YYYY HH:mm'}}</i><br>
            <p>{{p.content}}</p>
            <img src="../../../../../../assets/icon/balloon-heart.svg" alt="InSlow Logo" (click)="setReact(p.postId)" />
        </article>
    </section>
</main>