<main>
    <h1>Hello @{{user?.name}}</h1>

    <form [formGroup]="formPost">
        <textarea name="" id="" cols="30" rows="5" placeholder="Tell your super funny adventures here..."
            formControlName="content"></textarea>
        <button (click)="sendPost()">Publish</button>
    </form>

    <section>
        <article *ngFor="let p of posts" class="border">
            <b>{{p.userName}} </b> <i>{{p.posted | date:'dd-MM-YYYY HH:mm'}}</i><br>
            <p>{{p.content}}</p>

            <span *ngIf="p?.reactions?.length">{{p.reactions?.length }}</span>

            <img src="../../../../../../assets/icon/balloon-heart-fill.svg" *ngIf="displayFillLike(p?.reactions) == true" alt="InSlow Logo" (click)="setReact(p.postId)" />
            <img src="../../../../../../assets/icon/balloon-heart.svg" *ngIf="displayFillLike(p?.reactions) == false" alt="InSlow Logo" (click)="setReact(p.postId)" />
        </article>
    </section>
</main>