<nav>
    <div>
        <a routerLink="/">
            <img src="../../../../../assets/img/logo_InSlow.svg" alt="InSlow Logo" />
        </a>

        <img src="../../../../../assets/icon/list.svg" alt="Menu Icon" class="icon" *ngIf="!display" (click)="menu()" />
        <img src="../../../../../assets/icon/distribute-vertical.svg" alt="Menu Icon" class="icon" *ngIf="display"
            (click)="menu()" />
    </div>

    <!-- Not Connected NAV -->
    <div *ngIf="display && !isConnected" class="display">
        <a routerLink="/">Connection</a>
        <a routerLink="/register">Register</a>
    </div>

    <!-- Connected NAV -->
    <div *ngIf="display && isConnected" class="display">
        <a routerLink="/user">Home</a>
        <a routerLink="/settings">Settings</a>
        <a routerLink="/logout">Logout</a>
    </div>
</nav>