<nav>
    <div>
        <a routerLink="/">
            <img src="../../../../../assets/img/logo_InSlow.svg" alt="InSlow Logo" />
        </a>

        <img src="../../../../../assets/icon/list.svg" alt="Menu Icon" class="icon" *ngIf="!display" (click)="menu()" />
        <img src="../../../../../assets/icon/distribute-vertical.svg" alt="Menu Icon" class="icon" *ngIf="display"
            (click)="menu()" />
    </div>

    <!-- Not Connected NAV -->
    <div *ngIf="display && !isConnected" class="display">
        <ul *ngFor="let l of links">
            <li *ngIf="l.isConnected == false"><a routerLink="{{l.link}}" (click)="menu()">{{l.name}}</a></li>
        </ul>
    </div>

    <!-- Connected NAV -->
    <div *ngIf="display && isConnected" class="display">
        <ul *ngFor="let l of links">
            <li *ngIf="l.isConnected == true"><a routerLink="{{l.link}}" (click)="menu()">{{l.name}}</a></li>
        </ul>
    </div>
</nav>